{% extends '/layout/base.html' %}
{% block title %}Compress PDF{% endblock %}


{% block body %}


<section>
    
    <form
        id="uploadForm"
        action="{{ url_for('compress_pdf') }}"
        method="post"
        enctype="multipart/form-data"
    >
        <div id="dropZone" class="drop-zone my-4">
          <input id="fileInput" type="file" name="file" accept="application/pdf" required />
        </div>
        <div class="row mx-auto" style="width:50vw; height:100px">
          <select name="compression_type" id="compression_type" class="col-6 h-25 mt-4 bg-white rounded border">
            <option value="Light">Light</option>
            <option value="Medium" >Medium</option>
            <option value="Extreme">Extreme</option>
            <option value="Custom">Custom</option>
          </select>
          <div class="slider-container col-4  d-none" id="sliderContainer">
            <input type="range" min="2" max="10" value="2" step="0.1" class="slider" id="customSize" name="customSize">
            <p>Custom Size: <span class="value" id="sliderValue">2 MB</span></p>
          </div>
       </div>
      <input id="submitButton" type="submit" class="btn btn-primary d-block mx-auto" value="Compress" />
    </form>
    
</section>
<script>

let dropZone = document.getElementById("dropZone");
let fileInput = document.getElementById("fileInput");
let uploadForm = document.getElementById("uploadForm");
const compressionType = document.getElementById("compression_type");
const sliderContainer = document.getElementById("sliderContainer");
const sliderCustomSize = document.getElementById("customSize");
const sliderDisplayValue = document.getElementById("sliderValue");
const submitButton = document.getElementById("submitButton");

dropZone.addEventListener("click", function () {
    fileInput.click();
});



fileInput.addEventListener("change", function (e) {
    let file = e.target.files[0];
    sliderCustomSize.setAttribute("max", (file.size/1_000_000)*0.9)
    });
    sliderCustomSize.addEventListener("change", (event)=>{
        sliderDisplayValue.innerText = `${event.target.value} MB`
    })

    dropZone.addEventListener("dragover", function (e) {
        this.classList.add("dragover");
    });

    dropZone.addEventListener("dragleave", function (e) {
        this.classList.remove("dragover");
    });

    compressionType.addEventListener("change", (event)=>{
    if(event.target.value=="Custom"){
        sliderContainer.classList.remove("d-none")
    }
    else{
        sliderContainer.classList.add("d-none")
    }
})
submitButton.addEventListener("click",(e)=>{
    e.preventDefault()
    const formData = new FormData(uploadForm)
    if(sliderContainer.classList.contains("d-none")){
        formData.append("customSize","")
    }
    if(fileInput.files[0].size<2_000_000){
        alert("Only files over 2MB can be compressed")
    }
    else{
        uploadForm.submit()
    }
})
</script>
{% endblock %}