{% extends '/layout/base.html' %}
{% block title %}Extract PDF{% endblock %}


{% block body %}
<section>
    
    <form
        id="uploadForm"
        action="/extract-pdf"
        method="post"
        enctype="multipart/form-data"
    >
        <div class="d-block mx-auto mt-4 btn btn-info" id="fileInputWraper">Select File
            <input class="d-none" type="file" name="file" id="fileInput" accept=".pdf">
        </div>
        <ul id="pagesList" class="row gap-2 m-5 border p-0 justify-content-around" style="min-height: 40vh; position:relative">
            <span id="watermark" style="position: absolute; z-index:-1; margin-top:19vh; font-size:20px; color:rgb(188, 185, 185); user-select: none;" id="watermarkText" class="text-center "> 
                Your PDF Pages
            </span> 
        </ul>
        <input id="submitButton" type="submit" class="btn btn-primary d-block mx-auto" value="Generate PDF" />

    </form>

    </section>
<script>
    const fileInput = document.getElementById('fileInput');
    const pagesListElement = document.getElementById('pagesList');
    const generateButton = document.getElementById('generateButton');
    const fileInputWraper = document.getElementById("fileInputWraper");
    const watermark = document.getElementById("watermark");
    const uploadForm = document.getElementById("uploadForm");
    const submitButton = document.getElementById("submitButton")

    var pagesList = [];


    submitButton.addEventListener("click", (event)=>{
        event.preventDefault();
        const validPages = [];
        for(const validPage of pagesListElement.children){
            const pageIndex = validPage.getAttribute("data-index");
            if(pageIndex){
                validPages.push(pageIndex)
            }
        }
        const formData = new FormData(uploadForm);
        formData.append("valid_pages",validPages)
        uploadForm.submit()
    })

 

    fileInputWraper.addEventListener("click",(event)=>{
        fileInput.click()
    })
    fileInput.addEventListener('change', function (e) {
        pagesList = [];
        let file = e.target.files[0];
        renderPDFPages(file);
    })

    function removePage(event){
        const liContainer = event.srcElement.parentElement.parentElement;
        const pdfIndex = liContainer.getAttribute("data-index");
        pagesListElement.removeChild(document.querySelector(`li[data-index="${pdfIndex}"]`));
        pagesList.splice(pdfIndex,1);
    }

    function renderPDFPages(file, index) {
        const reader = new FileReader();
        reader.onload = async function (event) {
            const arrayBuffer = event.target.result;
            const pdf = await pdfjsLib.getDocument({ data: arrayBuffer }).promise;
            console.log("PDF")
            console.log(pdf);
            console.log(pdf._pdfInfo.numPages)
            ////
            for(let i=1; i<=pdf._pdfInfo.numPages; i++){
                const page = await pdf.getPage(i);

                const scale = 1.5;
                const viewport = page.getViewport({ scale });
                const canvas = document.createElement('canvas');
                const context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const renderContext = {
                    canvasContext: context,
                    viewport: viewport
                };
                await page.render(renderContext).promise;

                

                const listItem = document.createElement('li');
                listItem.classList.add(...["col-2","d-flex","flex-column","align-items-center","border","pdf-preview", "my-3"])
                listItem.style = "position: relative";

                const deleteIcon = document.createElement("img");
                deleteIcon.src="/static/assets/delete.svg"
                deleteIcon.width="20"
                deleteIcon.height="25"
                deleteIcon.classList.add(...["m-0","p-o"])
                
                const deleteButton = document.createElement("button");
                deleteButton.classList.add(...["delete-button","text-center"])
                deleteButton.onclick = removePage;
                deleteButton.appendChild(deleteIcon)

                

                const img = document.createElement('img');
                img.src = canvas.toDataURL();
                img.classList.add(...["mt-3","rounded-2","border","p-2"])

                img.width = "150";
                img.height = "200";

                const span = document.createElement('span');
                span.innerText= `${i}`
                span.style = "font-size: 11px"
                span.classList.add(...["mb-2","text-center","w-100"])


                listItem.appendChild(deleteButton);
                listItem.appendChild(img);
                listItem.appendChild(span);

                listItem.dataset.index = i;
                pagesListElement.appendChild(listItem);

            }
            ///
        };
        reader.readAsArrayBuffer(file);
    }


</script>
{% endblock %}
