{% extends '/layout/base.html' %}
{% block title %}Extract PDF{% endblock %}


{% block body %}
<section>
    
    <form
        id="uploadForm"
        action="{{ url_for('extract_pdf') }}"
        method="post"
        enctype="multipart/form-data"
    >
        <div class="d-block mx-auto mt-4 btn btn-info" id="fileInputWraper" style="width: fit-content;">Select File
            <input class="d-none" type="file" name="file" id="fileInput" accept=".pdf">
        </div>
        <ul id="pagesList" class="row gap-2 m-5 border p-0 justify-content-around" style="min-height: 40vh; position:relative">
            <span id="watermark" style="position: absolute; z-index:-1; margin-top:19vh; font-size:20px; color:rgb(188, 185, 185); user-select: none;" id="watermarkText" class="text-center "> 
                Your PDF Pages
            </span> 
        </ul>
        <input id="submitButton" type="submit" class="btn btn-primary d-block mx-auto" value="Generate PDF" />

    </form>

    </section>
<script>
    const fileInput = document.getElementById('fileInput');
    const pagesListElement = document.getElementById('pagesList');
    const generateButton = document.getElementById('generateButton');
    const fileInputWraper = document.getElementById("fileInputWraper");
    const watermark = document.getElementById("watermark");
    let uploadForm = document.getElementById("uploadForm");
    const submitButton = document.getElementById("submitButton")

    var pagesList = [];

    submitButton.addEventListener("click",(e)=>{
        e.preventDefault()
        const validPages = [];
        for(const validPage of document.getElementById('pagesList').getElementsByTagName("li")){
            const pageIndex = validPage.getAttribute("data-index");
            if(validPage.getAttribute("valid-page")=="true"){
                validPages.push(parseInt(pageIndex))
            }
        } 
        const validPagesInput = document.createElement('input');
        validPagesInput.type = 'hidden';
        validPagesInput.name = 'valid_pages';
        validPagesInput.value = validPages.join('-');
        uploadForm.appendChild(validPagesInput);
        uploadForm.submit()
    })

 

    fileInputWraper.addEventListener("click",(event)=>{
        fileInput.click()
    })
    fileInput.addEventListener('change', function (e) {
        pagesList = [];
        let file = e.target.files[0];
        renderPDFPages(file);
    })

    function removePage(event){
        const enabledButton = "/static/assets/check_enabled.svg";
        const pageContainer = event.srcElement.parentElement.parentElement;
        if (event.srcElement.src.endsWith(enabledButton)){
            event.srcElement.src="/static/assets/check_disabled.svg"
            pageContainer.setAttribute("valid-page",false)
        }
        else{
            event.srcElement.src=enabledButton
            pageContainer.setAttribute("valid-page",true)

        }
    }

    function renderPDFPages(file, index) {
        const reader = new FileReader();
        reader.onload = async function (event) {
            const arrayBuffer = event.target.result;
            const pdf = await pdfjsLib.getDocument({ data: arrayBuffer }).promise;
            for(let i=1; i<=pdf._pdfInfo.numPages; i++){
                const page = await pdf.getPage(i);

                const scale = 1.5;
                const viewport = page.getViewport({ scale });
                const canvas = document.createElement('canvas');
                const context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const renderContext = {
                    canvasContext: context,
                    viewport: viewport
                };
                await page.render(renderContext).promise;

                

                const listItem = document.createElement('li');
                listItem.classList.add(...["col-2","d-flex","flex-column","align-items-center","border","pdf-preview", "my-3"])
                listItem.style = "position: relative";
                listItem.setAttribute("valid-page",true)

                const deleteIcon = document.createElement("img");
                deleteIcon.src="/static/assets/check_enabled.svg"
                deleteIcon.width="30"
                deleteIcon.height="30"
                deleteIcon.classList.add(...["m-0","p-o"])
                
                const deleteButton = document.createElement("button");
                deleteButton.classList.add(...["enabled-button","text-center"])
                deleteButton.type="button";
                deleteButton.onclick = removePage;
                deleteButton.appendChild(deleteIcon)

                

                const img = document.createElement('img');
                img.src = canvas.toDataURL();
                img.classList.add(...["mt-3","rounded-2","border","p-2"])

                img.width = "150";
                img.height = "200";

                const span = document.createElement('span');
                span.innerText= `${i}`
                span.style = "font-size: 11px"
                span.classList.add(...["mb-2","text-center","w-100"])


                listItem.appendChild(deleteButton);
                listItem.appendChild(img);
                listItem.appendChild(span);

                listItem.dataset.index = i;
                pagesListElement.appendChild(listItem);

            }
        };
        reader.readAsArrayBuffer(file);
    }

    const sortable = new Sortable(pagesListElement, {
        animation: 150,
        onEnd: function (evt) {
            const items = pagesListElement.querySelectorAll('li');
            pagesList = Array.from(items).map(item => pagesList[item.dataset.index]);
        }
    });


</script>
{% endblock %}
