{% extends '/layout/base.html' %}
{% block title %}Registrar Carro{% endblock %}

{% block body %}

<div class="d-flex mt-5 mx-5">
  <div class="card w-25 py-2 px-4" style="cursor:pointer;" onclick="window.location.href='/compress-pdf'">
    <img class="mx-auto" src="/static/assets/compress.svg" alt="compress" width="100px" height="100px">
    <h4 class="text-center">Compress PDF</h4>
    <p>Compress your pdf files at your wish to fit your custom requirements</p>
  </div>


</div>



{% endblock %}