{% extends '/layout/base.html' %}
{% block title %}Registrar Carro{% endblock %}

{% block body %}
<style>
  .hover-bg-gray:hover{
    background-color: rgb(238, 238, 238);
  }
  .card{
    min-width: 100px;
  }
  .flex-direction-responsive {
    flex-direction: column;
  }
  @media (min-width: 600px) {
      .flex-direction-responsive {  
          flex-direction: row;
          width: 100%;
      }
  }

</style>
<div class="row mt-5 gap-5 mx-auto justify-content-center">
  <div class="col-8 col-lg-3 col-sm-4 card py-2 px-4 hover-bg-gray" style="cursor:pointer;" onclick="window.location.href='/compress-pdf'">
    <img class="mx-auto w-100" src="/static/assets/compress.svg" alt="compress" width="100px" height="100px">
    <h4 class="text-center">Compress PDF</h4>
    <p>Compress your pdf files at your wish to fit your custom requirements</p>
  </div>
  <div class="col-8 col-lg-3 col-sm-4 card py-2 px-4 hover-bg-gray" style="cursor:pointer;" onclick="window.location.href='/extract-pdf'">
    <img class="mx-auto" src="/static/assets/extract.svg" alt="compress" width="100px" height="100px">
    <h4 class="text-center">Extract PDF Pages</h4>
    <p>Extract some pages from a PDF</p>
  </div>
  <div class="col-8 col-lg-3 col-sm-4 card py-2 px-4 hover-bg-gray" style="cursor:pointer;" onclick="window.location.href='/merge-pdf'">
    <img class="mx-auto" src="/static/assets/merge.svg" alt="compress" width="100px" height="100px">
    <h4 class="text-center">Merge PDF's</h4>
    <p>Combine all your PDF files into a single document</p>
  </div>
  <div class="col-8 col-lg-3 col-sm-4 card py-2 px-4 hover-bg-gray" style="cursor:pointer;" onclick="window.location.href='/convert-pdf-jpg'">
    <img class="mx-auto" src="/static/assets/compress.svg" alt="compress" width="100px" height="100px">
    <h4 class="text-center">PDF to JPG</h4>
    <p>Convert each PDF page into JPG images</p>
  </div>
  <div class="col-8 col-lg-3 col-sm-4 card py-2 px-4 hover-bg-gray" style="cursor:pointer;" onclick="window.location.href='/convert-jpg-pdf'">
    <img class="mx-auto" src="/static/assets/compress.svg" alt="compress" width="100px" height="100px">
    <h4 class="text-center">JPG to PDF</h4>
    <p>Convert JPG images in a single PDF document</p>
  </div>
</div>



{% endblock %}