<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My PDF Toolkit</title>
    <link rel="icon" type="image/x-icon" href="static/assets/pdf_toolkit.svg">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <script src="/static/js/pdf-lib.min.js"></script>
  <script src="/static/js/pdf.min.js"></script>
  <script src="/static/js/Sortable.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/script.js"></script>
  <body>
    {% include "/layout/navbar.html" %}
    {% block body %}
    {% endblock %}

    {% include "/layout/footer.html" %}
  </body>
  <script>
    {% if message %}
        alert("{{ message }}");
    {% endif %}
  </script>
</html>