<style>
    a{
        text-decoration: none;
        color: black;
        
    }
    ul{
        list-style-type: none;
    }
</style>

<section class="d-flex flex-row justify-content-between px-5" style="height: 100px; background-color:#f72626">
    <div>
        IMG
    </div>
    <nav style="">
        <ul class="d-flex flex-row justify-content-evenly text-white gap-3">
            <li>
                <a href="/compress-pdf">
                    compress PDF
                </a>
            </li>
            <li>
                <a href="">
                    merge PDF
                </a>
            </li>
            <li>
                <a href="">
                    extract pages PDF
                </a>
            </li>
            <li>
                <a href="">
                    JPG TO PDF
                </a>
            </li>
        </ul>
    </nav>
</section>

