<style>
    .list-item {
        text-decoration: none;
        color: white;
        &:hover{
            color: rgb(54, 54, 54);
        }
        
    }
    .text-black{
        color: rgb(78, 77, 77);
        &:hover{
            cursor: default;
        }
    }
    ul{
        list-style-type: none;
    }
    li{
        margin: auto 0px;
    }
    #logo{
        cursor: pointer;
        height: 100%;
    }
</style>

<section class="d-flex flex-row justify-content-between px-5" style="height: 100px; background-color:#f72626">
    <div id="logo" class="d-flex flex-column align-items-center">
        <img src="/static/assets/pdf_toolkit.svg" width="55px" height="80px" alt="Logo" class="h-100">
        <span style="color: white; margin-bottom:10px">My PDF toolkit</span>
    </div>
    <nav>
        <ul class="d-flex flex-row justify-content-evenly text-white gap-5 h-100">
            <li>
                <a class="list-item text-black" href="/compress-pdf">
                    COMPRESS PDF
                </a>
            </li>
            <li>
                <a class="list-item" href="/merge-pdf">
                    MERGE PDF
                </a>
            </li>
            <li>
                <a class="list-item" href="/extract-pdf" disabled>
                    EXTRACT PDF
                </a>
            </li>
        </ul>
    </nav>
</section>

<script>
    document.getElementById("logo").addEventListener("click",()=>{window.location=window.location.origin})
    document.addEventListener('DOMContentLoaded', function() {
        const navItems = document.getElementsByClassName("list-item");
        for(const navItem of navItems){
            if(window.location.href === navItem.href){
                navItem.classList.add("text-black")
            }
            else{
                navItem.classList.remove("text-black")
            }
        }
    });
</script>