<section class="d-flex flex-row justify-content-between" style="height: 100px; background-color:red">
    <div>
        IMG
    </div>
    <nav>
        <ul class="d-flex flex-row justify-content-evenly">
            <li>
                <a href="/compress-pdf">
                    compress PDF
                </a>
            </li>
            <li>
                <a href="">
                    merge PDF
                </a>
            </li>
            <li>
                <a href="">
                    extract pages PDF
                </a>
            </li>
            <li>
                <a href="">
                    JPG TO PDF
                </a>
            </li>
        </ul>
    </nav>
</section>